<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod placerat quam rhoncus lacinia. Phasellus ultrices tempus massa at eleifend. Aliquam hendrerit molestie sem ut dictum. Maecenas gravida elementum ligula, gravida accumsan sem fermentum vitae. Sed sollicitudin sem a est elementum, quis elementum neque dignissim. Aliquam eget orci tempor, posuere sem quis, cursus urna. Nulla viverra euismod lobortis. Curabitur blandit nisi in eleifend viverra.
</p>
