<% provide(:title, "Home") %>
<h1>Home</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur urna massa, mollis egestas ipsum ut, accumsan rhoncus magna. Aliquam eget tristique nisi. Morbi efficitur mollis hendrerit. Vestibulum turpis sapien, ornare non felis sagittis, commodo varius quam. Suspendisse laoreet iaculis viverra. Duis et nisi magna. In eros lectus, auctor sed lacus ut, consequat semper lectus. Proin varius lacinia auctor. Suspendisse potenti. Ut magna est, vehicula vel lectus id, posuere congue magna. In quis ligula vitae arcu sollicitudin venenatis. Integer ac velit non ligula venenatis condimentum. Aliquam placerat tortor in dui lobortis iaculis. Vivamus sed volutpat mi, non rutrum ex. Fusce vestibulum diam ac sagittis convallis.
</p>
